<div class="container-fluid" id="aboutus">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>About Company Page</h2>
        <h4>Lorem ipsum..</h4>
        <p>Admiration we surrounded possession frequently he. Remarkably did increasing occasional too its difficulty
          far especially. Known tiled but sorry joy balls. Bed sudden manner indeed fat now feebly. Face do with in need
          of wife paid that be. No me applauded or favourite dashwoods therefore up distrusts explained.</p>
        
      </div>
 
      <div class="col-sm-4">
        <i class="icon ion-md-trending-up logo">
        </i>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-8">
        <h2>Our Values</h2>
        <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
        <p><strong>VISION:</strong> Surprise steepest recurred landlord mr wandered amounted of. Continuing devonshire
          but considered its. Rose past oh shew roof is song neat. Do depend better praise do friend garden an wonder
          to. Intention age nay otherwise but breakfast. Around garden beyond to extent by.
        </p>
      </div>
      <div class="col-sm-4">
        <i class="icon ion-md-globe logo"></i>
         
      </div>
    </div>
  </div>
</div>