
<div class="container-fluid" id="contact">
    <h2 class="text-center">CONTACT</h2>
    <div class="row slideanim">
        <div class="col-sm-5">
            <p>Swing by for a cup of coffee, or leave us a message.</p>
            <p> <span> <i class="material-icons">
                location_on
                </i></span> Chicago, US</p>
            <p><span> <i class="material-icons">
                phone
                </i></span>+00 1515151515</p>
            <p><span> <i class="material-icons">
                mail
                </i></span>  myemail@something.com</p>
                    
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>