{% load static %}

<div class="container-fluid text-center" id="portfolio"> 
    <h2>PORTFOLIO</h2>
    <h3>Our creation
    </h3>
    <div class="row slideanim">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="{% static 'core/images/cr1.jpg' %}" alt="Paris">
          <p><strong>Paris</strong></p>
          <p>Yes, we built Paris</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="{% static 'core/images/cr2.jpg' %}" alt="New York">
          <p><strong>New York</strong></p>
          <p>We built New York</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="{% static 'core/images/cr3.jpg' %}" alt="San Francisco">
          <p><strong>San Francisco</strong></p>
          <p>Yes, San Fran is ours</p>
        </div>
      </div>

</div>